<turbo-frame id="edit_profile">
  This is the contents of the Edit turbo frame. The form will go here. Look at the PHOTO web page to allow Users to attach a photo an then use that Stimulus controller to make redirection happen correctly.
  <%= form_for @profile, :html => {:class => 'profileform', 'data-controller' => 'form-redirect', 'data-action' => 'turbo:submit-end->form-redirect#next' } do |f| %>
    <div class="profilebody"> 
      <%= f.label :body, 'Profile Body' %>
      <%= f.text_area :body, placeholder: "Describe yourself. This information is visible to all, so do not include anything confidential." %>
    </div>
    <div class="profilenote">
      You may have up to three 'Favourite' things: these disappear from your profile if the Category is blank.
    </div>
    <div class="profilefavourite">
      <%= f.label :field_name_one, 'Category' %>
      <%= f.text_field :field_name_one %>
      <%= f.label :field_content_one, 'Content' %>
      <%= f.text_field :field_content_one %>
    </div>
    <div class="profilefavourite">
      <%= f.label :field_name_two, 'Category' %>
      <%= f.text_field :field_name_two %>
      <%= f.label :field_content_two, 'Content' %>
      <%= f.text_field :field_content_two %>
    </div>
    <div class="profilefavourite">
      <%= f.label :field_name_three, 'Category' %>
      <%= f.text_field :field_name_three %>
      <%= f.label :field_content_three, 'Content' %>
      <%= f.text_field :field_content_three %>
    </div>
    <div class="profilepicture">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div>
    <div class="profilesubmit">
      <%= f.submit 'Submit Changes' %>
    </div>
  <% end %>
</turbo-frame>