<turbo-frame id="edit_profile">
  <%= form_for @profile, :html => {:class => 'profileform', 'data-controller' => 'form-redirect', 'data-action' => 'turbo:submit-end->form-redirect#next' } do |f| %>
    <h2>Edit Profile</h2>

    <div class="profilebody"> 
      <%= f.label :body, 'Profile Body' %>
      <%= f.text_area :body, placeholder: "Describe yourself. This information is visible to all, so do not include anything confidential." %>
    </div>
    <div class="profilenote">
      You may have up to three 'Favourite' things: these disappear from your profile if the Category is blank.
    </div>
    <% number_words = ["one", "two", "three"] %>
    <% number_words.each do |numword| %>
      <div class="profilefavourite">
      <%= f.label :"field_name_#{numword}", 'Category' %>
      <%= f.text_field :"field_name_#{numword}" %>
      <%= f.label :"field_content_#{numword}", 'Content' %>
      <%= f.text_field :"field_content_#{numword}" %>
    </div>
    <% end %>
    <div class="profilepicture">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div>
    <div class="profilesubmit">
      <%= f.submit 'Submit Changes' %>
    </div>
  <% end %>
</turbo-frame>