<div class="managefollowssection">
  <h2>You Are Following</h2>
  <% if @followees.size.zero? %>
    <p class="nothingmessage">
      You are not following anyone at the moment.
    </p>
  <% else %>
    <% @followees.each do |user| %>
     <div class="userindexlinkdiv> 
       <%= render 'devise/registrations/link_to_user', user: user, by: false %>
       <%= link_to 'Unfollow', follow_path(id: Follow.find_by(follower: current_user, followee: user).id), data: { 'turbo_method' => :delete } %>
     </div>
    <% end %>
  <% end %>
</div>

<div class="managefollowssection">
  <h2>Outgoing Follow Requests</h2>
  <% if @requestees.size.zero? %>
    <p class="nothingmessage">
      You currently have no outgoing Follow requests.
    </p>
  <% else %>
    <% @requestees.each do |user| %>
     <div class="userindexlinkdiv> 
       <%= render 'devise/registrations/link_to_user', user: user, by: false %>
       <%= link_to 'Cancel Request', follow_request_path(id: FollowRequest.find_by(requester: current_user, requestee: user).id), data: { 'turbo_method' => :delete } %>
     </div>
    <% end %>
  <% end %>
</div>

<div class="managefollowssection">
  <h2>Other Members</h2>
  <% if @other_users.size.zero? %>
    <p class="nothingmessage">
      There are no other users to request to follow.
    </p>
  <% else %>
    <% @other_users.each do |user| %>
     <div class="userindexlinkdiv> 
       <%= render 'devise/registrations/link_to_user', user: user, by: false %>
       <%= link_to "Request to follow #{user.name}", follow_requests_path(follow_request: { requestee_id: user.id } ), data: { 'turbo_method' => :post } %>
     </div>
    <% end %>
  <% end %>
</div>

<div class="managefollowssection">
  <h2>Incoming Follow Requests</h2>
  <% if @requesters.size.zero? %>
    <p class="nothingmessage">
      You have no incoming Follow requests.
    </p>
  <% else %>
    <% @requesters.each do |user| %>
     <div class="userindexlinkdiv> 
       <%= render 'devise/registrations/link_to_user', user: user, by: false %>
       <%= link_to 'Accept', follows_path(follow: { follower_id: user.id } ), data: { 'turbo_method' => :post } %>
       <%= link_to 'Decline', follow_request_path(id: FollowRequest.find_by(requester: user, requestee: current_user).id), data: { 'turbo_method' => :delete } %>
     </div>
    <% end %>
  <% end %>
</div>

<div class="managefollowssection">
  <h2>Your Followers</h2>
  <% if @followers.size.zero? %>
    <p class="nothingmessage">
      You currently have no followers.
    </p>
  <% else %>
    <% @followers.each do |user| %>
     <div class="userindexlinkdiv> 
       <%= render 'devise/registrations/link_to_user', user: user, by: false %>
     </div>
    <% end %>
  <% end %>
</div>





