<div class="regshowtopdiv">
<% if current_user == @user %>  
  <turbo-frame id="edit_account">
    <div class="accountinfodiv">
      <div class="namediv">
        Name: 
        <%= @user.name %>
      </div>
      <div class="emaildiv">
        Email: 
        <%= @user.email %>
      </div>
      <%= link_to "Edit My Account", edit_user_registration_path %>
    </div>
  </turbo-frame>
<% end %>

<turbo-frame id="edit_profile">
  <div class="profilediv">
    <h3>About 
      <% if current_user == @user %>
        Me
      <% else %>
        <%= @user.name %>
      <% end %>
    </h3>
    <div class="profilebody">
      <%= @profile.body || '' %>
    </div>
    
    <% number_words = ["one", "two", "three"] %>
    <% number_words.each do |numword| %>
      <div class="profilefield">
        <% if @profile.send("field_name_#{numword}").strip.size.positive? %>
          <div class="profilefieldname">
            <%= @profile.send("field_name_#{numword}") %>:
          </div>
          <div class="profilefieldcontent">
            <%= @profile.send("field_content_#{numword}") %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <% if current_user == @user %>
      <%= link_to "Edit Profile Info.", edit_profile_path(id: @profile.id) %>
    <% else %>
      You are not authorised to edit this user's account or profile information.
    <% end %>
  
    <%= image_tag(@profile.picture, width: 200) if @profile.picture.attached? %>
  </div>
</turbo-frame>
</div>
<br>
</br>
<% if current_user == @user %>
  <% title = "My Recent posts" %>
<% else %>
  <% title = "Recent posts by #{@user.name}" %>
<% end %>

<%= render 'posts/display_many_posts', posts_collection: @user_posts, header_text: title %>