<div class="commentdiv">
  <%= turbo_frame_tag "edit_comment" do %>
    <p class="commentbody">
      <% if text_limit > 0 && comment.body.size > text_limit %>
        <%= comment.body[0, text_limit]... %>
      <% else %>
        <%= comment.body %>
      <% end %>
    </p>
    <%= render 'devise/registrations/link_to_user', user: comment.author, by: true %>
    <% if comment.author == current_user %>
      <div class="deleteeditcommentlink">
        <%= link_to "Edit Comment", edit_comment_path(id: comment.id) %> 
        <%= link_to "Delete Comment", comment_path(id: comment.id), data: { 'turbo-method' => :delete } %>
      </div>
    <% end %>
  <% end %>
</div>