<div class="postdiv">
  <h3 class="postauthor"> <%= render 'devise/registrations/link_to_user', user: post.author, by: true %>
  </h3>
  <div class="posttitle">
    <%= post.title %>
  </div>
  <div class="postbody">
    <% if @text_limit > 0 && post.body.size > @text_limit %>
      <%= post.body[0, @text_limit]... %>
    <% else %>
      <%= post.body %>
    <% end %>
  </div>
  <div class="postlikes">
    <div class="listoflikes">
      <% if post.likes.size.zero? %>
        This post has no likes.
      <% else %>
        Liked by
        <% post.likes.each do |like| %>
          <%= render "devise/registrations/link_to_user", user: like.liker, by: false %>
        <% end %>
      <% end %>
    </div>
    <div class="likecreatedestroy">
      <% if post.likers.include?(current_user) %>
        <%= link_to "Delete Like", like_path(id: Like.where(liked_post: post, liker: current_user).first.id), data: { 'turbo-method' => :delete } %>
      <% else %>
        <%= link_to "Like this!", likes_path(like: { liker_id: current_user.id, liked_post_id: post.id } ), data: { 'turbo-method' => :post } %>
      <% end %>
    </div>
  </div>
  <div class="postcomments">
    <h3>Recent Comments</h3>
    <%= turbo_frame_tag "no_comments_#{post.id}" do %> 
      <% if post.comments.size.zero? %>
        This post has no comments.
      <% end %>
    <% end %>
    <%= turbo_frame_tag "add_comment" do %>
      <%= link_to "Add Comment", new_comment_path(post_id: post.id) %>
    <% end %>
    <% comments_to_show = post.comments.take(10) %>
    <% comments_to_show.each do |one_comment| %>
      <%= render 'comments/display_comment', comment: one_comment %>
    <% end %>
    <%= turbo_frame_tag "last_comment_#{post.id}" do %>
    <% end %>
  </div>
  <% if @text_limit.positive? %>
    <div class="showpostlink">
      <%= link_to "See Full Post", post_path(id: post.id) %>
    </div>
  <% end %>
  <% if current_user == post.author %>
    <div class="editdeletepostlinks">
      <%= link_to "Edit Post", edit_post_path(id: post.id) %>
      <%= link_to "Delete Post", post_path(id: post.id), data: { 'turbo-method' => :delete } %>
    </div>
  <% end %>
</div>