<!DOCTYPE html>
<html>
  <head>
    <title>Odinsocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar">
      <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>
      <%# Also need links to "My Profile" (when a user's name appears on the site elsewhere as post author etc. it should be a link to their profile, which only shows what you are authorised to see)
      "Home" which goes to the Posts index
      "Create Post"
      "Manage Follows" --- the Users index page where you make/delete or accept/reject follow requests %>
    <div>
    <%= yield %>
  </body>
</html>
